/* how much will be to make a slider? */

/* Actualization! 

    it was not that much
*/

.carrousel-container {
  position: relative;
  margin: 300px auto;
}

.carrousel {
  position: relative;

  height: 150px;
  width: 200px;
  margin: auto;
  /* background-color: #f804; */

  transform: perspective(800px) rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;

  transition: transform 0.6s ease-in-out;
}

.segment {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #28e5;
}

.segment:nth-child(1) {
  transform: translateZ(250px);

  background: url("https://th.bing.com/th/id/R.18efe02dabbf72680598f33549ab15dd?rik=9WK7HhkQHv2Mjw&riu=http%3a%2f%2fimages6.fanpop.com%2fimage%2fphotos%2f35800000%2f-Wallpapers-Full-HD-random-35881387-1920-1080.jpg&ehk=JFI8VRjN%2fda1ccLDV74esz4jMg5E6Dqp90PgSR6Gg1M%3d&risl=&pid=ImgRaw&r=0");
  background-size: cover;
}

.segment:nth-child(2) {
  transform: rotateY(45deg) translateZ(250px);

  background: url("https://th.bing.com/th/id/OIP.oevbolwSrvjJQcDSNFdOYAHaEo?pid=ImgDet&rs=1");
  background-size: cover;
}

.segment:nth-child(3) {
  transform: rotateY(90deg) translateZ(250px);

  background: url("https://4.bp.blogspot.com/-JTVZ2ajkvrU/UiIb8LLrIII/AAAAAAAAGb4/ioF8FtLFzR0/s1600/1307306470-nature_wallpaper_hd_hd_nature_3.jpg");
  background-size: cover;
}

.segment:nth-child(4) {
  transform: rotateY(135deg) translateZ(250px);

  background: url("https://th.bing.com/th/id/R.6cc3d9234c2b85a512c1901a1877337a?rik=2cz%2fcRb%2fvnaOtQ&riu=http%3a%2f%2f4.bp.blogspot.com%2f-fpEFUD90X9o%2fTwg7Tt2NZSI%2fAAAAAAAAA2s%2fU74mr-bYVMA%2fs1600%2fhd%2bwallpapers%2b%2525287%252529.jpg&ehk=VREtQSvcn5VgI2ybfOGkFHL7QLkx0fRsyNsGwp5RWEA%3d&risl=&pid=ImgRaw&r=0");
  background-size: cover;
}

.segment:nth-child(5) {
  transform: rotateY(180deg) translateZ(250px);

  background: url("https://th.bing.com/th/id/R.1876ba684c6d958ec020ecc8138a85a3?rik=lG6lkfBqwDfmjA&riu=http%3a%2f%2f2.bp.blogspot.com%2f-f7KM8o6GqAE%2fUWAwwCbPLDI%2fAAAAAAAAAHg%2fG5jRPdg8vn8%2fs1600%2f9728.jpg&ehk=yYLkkT8q3XTU2F8j9xnUMIGcr6Q2BxGyEx1S0d2qgxE%3d&risl=&pid=ImgRaw&r=0");
  background-size: cover;
}

.segment:nth-child(6) {
  transform: rotateY(225deg) translateZ(250px);

  background: url("https://www.bing.com/th/id/OIP.YvEnn2iyjKj3czTH1wTNIgHaEo?pid=ImgDet&rs=1");
  background-size: cover;
}

.segment:nth-child(7) {
  transform: rotateY(270deg) translateZ(250px);

  background: url("https://th.bing.com/th/id/R.2415d5e51afc71da7db3bdb32d02c06c?rik=cHFS7XThexPWOA&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fd%2fb%2f8%2f679723.jpg&ehk=WwWMJblmTtkRjqMLAWq%2buW5P4yA6HT1zZWvTxyA2ufU%3d&risl=&pid=ImgRaw&r=0");
  background-size: cover;
}

.segment:nth-child(8) {
  transform: rotateY(315deg) translateZ(250px);

  background: url("https://th.bing.com/th/id/R.6fcc4b20446ac1d93141454f59288751?rik=MABo%2baasHQ3wCQ&pid=ImgRaw&r=0");
  background-size: cover;
}

.controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
}

.btn {
  display: flex;
  width: 20%;
  padding: 20px;
  border: none;
  color: #fff;
  font-size: 3em;
  cursor: pointer;
  transition: color 0.6s ease;
}
.btn:hover {
  color: #28e;
}

.btn-l {
  background: linear-gradient(90deg, #000, transparent);
}
.btn-r {
  background: linear-gradient(-90deg, #000, transparent);
}

.btn-icon {
  margin: auto;
  transition: transform 0.6s ease;
}

.btn:active .btn-icon {
  color: #fff;
}

.btn:hover .icon-l {
  transform: translateX(-25px);
}

.btn:hover .icon-r {
  transform: translateX(25px);
}
/* por hoy el codigo me derroto */

/* Actualization!!
  
      pos no era tan dificil
  */
