.pokemonCardSection * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pokemonCardSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  gap: 50px;
}
.pokemonCardSection h2 {
  font-size: 2.5em;
}
.cardsShowcase {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.card {
  position: relative;
  width: 300px;
  aspect-ratio: 9/12;
  perspective: 1000px;
  z-index: 0;
}

.card3DEffect {
  perspective: 1000px;
  transform-style: preserve-3d;
  pointer-events: none;
  transition: transform 0.1s ease;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      transparent,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 1)
    );
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 25px;
  }
  .card:hover &::before {
    opacity: 1;
  }

  & > .cardBackground {
    width: 100%;
    z-index: 1;
    border-radius: 25px;
  }

  & > .cardCharacter {
    height: 80%;
    max-width: 90%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;
    z-index: 3;
    transition: transform 0.6s ease, opacity 0.3s ease;
    opacity: 0;
    transform: translateY(40px) translateZ(0px);
  }
  .card:hover & > .cardCharacter {
    opacity: 1;
    transform: translateY(0px) translateZ(30px);
  }
}

/* .card::before {

  );
  pointer-events: none;
} */
